.ligne {
    text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #efe8e8;
    cursor: pointer;
    font-size: 50px;
    padding-top: 2%;
    border-radius: 15%;
    border: 2px solid purple;

}

.card.done {
    cursor: default;
}
.card.done:hover {
    cursor: default;
    box-shadow: none;
}

.card:hover{
    border: 1px solid black;
}

.cake {
    background-color: orange;
}
